html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #2f3035;
}

.page-section {
  margin-bottom: 80px;
}

.header {
  margin-bottom: 80px;
}

.header__top {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;

  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}

.menu {
}

.meni__list {
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__box {
  display: flex;
}

.header__address {
  position: relative;
  width: 265px;
  margin-right: 60px;
  padding-left: 30px;
}

.header__address::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../images/svg/address-icon.svg");
  left: 0;
  top: -10px;
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.user-list__item {
  padding-right: 10px;
}

.user-list__link {
}

.cart {
  position: relative;
}

.cart__num {
  position: absolute;
  width: 20px;
  height: 20px;

  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  background: #1c62cd;
  border-radius: 50%;

  top: 9px;
  left: 24px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list {
}

.breadcrumbs__list-item {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.breadcrumbs__list-item::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 5px;
  width: 6px;
  height: 11px;
  background-image: url(../images/svg/breadcrumb-arrow.svg);
}

.breadcrumbs__list-item:last-child::after {
  display: none;
}

.header__bottom {
  padding-top: 21px;
}

.user__bottom-inner {
  background-color: #f0f0f4;
}

.menu-categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 53px;
}

.menu-categories__item {
  position: relative;
}

.menu-categories__link {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px 0 14px;
  /* transition: all 0.3s; */
  transform: translate(-50%, -50%);
}

.menu-categories__link:hover {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
}

.menu-categories__link::before {
  position: absolute;
  content: "";
  width: 0;
  left: auto;
  bottom: -2px;
  right: 0;
  background: #1c62cd;
  height: 3px;
  transition: all 0.3s;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section {
}
.banner-section__inner {
  display: flex;
  justify-content: space-between;
}
.banner-section__slider {
  max-width: 870px;
}
.banner-section__slider-btn,
.product-slider__slider-btn {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
}

.banner-section__slider-btn--prev {
  left: 20px;
}
.banner-section__slider-btn--next {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;

  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0;
  outline: none;
}

.slick-active li button {
  background-color: #ffffff;
}

.banner-section__slider-item {
}

.banner-section__slider-img {
  object-fit: cover;
  min-height: 402px;
}

.sale-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__info {
  padding: 8px 20px;
  color: #ffffff;
  background-color: #1c62cd;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sale-item__price {
  text-align: right;
}
.price {
  font-family: "Barlow", sans-serif;
  position: relative;
}
.sale-item__price-new {
  margin-right: 6px;
  padding-right: 20px;
  position: relative;

  font-size: 27px;
  line-height: 32px;
  color: #1c62cd;
  font-weight: 700;
}
.sale-item__price-new::after {
  content: "";
  position: absolute;
  background-image: url("../images/svg/rub-icon.svg");
  width: 16px;
  height: 18px;
  right: 0;
  top: 8px;
}
.sale-item__price-old {
  margin-right: 15px;
  padding: 2px 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;

  background-image: url("../images/svg/strikethrough.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
.sale-item__price-old::after {
  content: "";
  position: absolute;
  background-image: url("../images/svg/rub-icon-old.svg");
  width: 8px;
  height: 10px;
  right: -10px;
  top: 5px;
}
.sale-item__img {
  object-fit: contain;
}

.sale-item__title {
  margin-bottom: 7px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2f3035;
}

.sale-item__footer {
  padding: 25px 20px;
  font-size: 18px;
  line-height: 21px;
  background: #f0f0f4;
}

.sale-item__footer span {
  display: inline-block;
  margin-top: 2px;

  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 22px;
  color: #1c62cd;
}

.search {
}

.search__inner {
}

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tabs__item--active {
  border-radius: 5px;
  background-color: #f0f0f4;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}

.search__content {
}

.search__content-item {
  display: none;
}

.search__content-item.tabs-content--active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 19px;
  background: #f0f0f4;
  border-radius: 3px;
  border: none;
}

.search__content-input::placeholder {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #656464;
}

.search__content-button {
  margin-left: -4px;
  padding: 17px 41px;

  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;

  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;

  background: #1c62cd;
  border-radius: 3px;
  border: none;
}

.categories__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.categories__item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  transition: box-shadow 0.3s;
}

.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border: 1px solid transparent;
}

.categories__item:hover .categories__item-title {
  color: #1c62cd;
}

.categories__item-info {
  padding: 20px 0px 14px 20px;
}

.categories__item-title {
  margin-bottom: 50px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #2f3035;
  transition: all 0.3s;
}

.categories__item-text {
  display: inline-block;
  position: relative;
  padding-right: 9px;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.categories__item-text::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 9px;
  background-image: url(../images/svg/arrow-pass.svg);
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.categories__item-img {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories__item-img img {
  object-fit: contain;
}

.products {
}

.title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.products__title {
  margin-bottom: 25px;
}

.products__inner {
}
.tabs__wrapper {
}
.tabs {
}

.products__tabs {
  margin-bottom: 25px;
}

.tabs__item {
}

.products__tab {
  padding-bottom: 10px;
}

.products__tab + .products__tab {
  margin-left: 50px;
}

.products__tab.tabs__item--active {
  border-bottom: 2px solid #1c62cd;
}
.tabs-container {
}
.products__container {
}
.tabs-content {
}
.products__content {
  display: none;
}
.products__content.tabs-content--active {
  display: block;
}

.tabs-content--active {
}

.product-slider {
}

.product-slider__slider-btn--prev {
  left: -36px;
}

.product-slider__slider-btn--next {
  right: -16px;
}

.product-item__wrapper {
  position: relative;
  width: 271px;
}

.product-item {
  padding: 52px 20px 31px;
  width: 100%;
  min-height: 402px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  text-align: center;
  transition: all 0.3s;
}

.product-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border: 1px solid transparent;
  color: #1c62cd;
}

.product-item__hover-text {
  position: absolute;
  top: 30%;
  left: 20px;
  right: 20px;
  padding: 18px 21px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  transition: all 0.5s;
}

.product-item:hover .product-item__notify-text {
  color: #2f3035;
}

.product-item:hover .product-item__hover-text {
  opacity: 1;
  color: #2f3035;
}

.product-item.product-item--sale::before {
  position: absolute;
  content: "sale";
  padding: 8px 15px;
  top: 0;
  left: 0;
  background-color: #1c62cd;

  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.product-item__like {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 16px;
  right: 19px;
  z-index: 5;

  background-color: transparent;
  border: none;
  outline: none;
}

.product-item__like::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;

  background-image: url(../images/svg/heart.svg);
}

.product-item__like--active::before {
  background-image: url(../images/svg/heart-active.svg);
}

.product-item__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: contain;
}

.product-item__title {
  padding: 14px 0px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-item__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-item__cart {
  position: absolute;
  width: 60px;
  height: 40px;
  bottom: 0;
  right: 0;

  background: #1c62cd;
  border: none;
  border-radius: 10px 0px 0px 0px;

  cursor: pointer;
  outline: none;
}

.product-item__cart::before {
  content: "";
  position: absolute;

  width: 30px;
  height: 23px;
  top: 10px;
  left: 14px;

  background-image: url(../images/svg/cart-white.svg);
  background-repeat: no-repeat;
}

.product-item__wrapper.product-item__unavailable .product-item__price {
  display: none;
}

.product-item__notify-text {
  display: none;
}

.product-item__wrapper.product-item__unavailable .product-item__notify-text {
  display: block;
  margin-bottom: 13px;

  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.product-item__wrapper.product-item__unavailable .product-item__title {
  padding-bottom: 12px;
}

.product-item__wrapper.product-item__unavailable .product-item__cart {
  display: none;
}

.product-item__notify-link {
  display: none;

  color: #1c62cd;
  text-decoration: underline #1c62cd;
}

.product-item__wrapper.product-item__unavailable .product-item__notify-link {
  display: block;
  position: absolute;

  bottom: 25px;
  right: 0;
  left: 0;

  font-size: 16px;
  line-height: 19px;
  color: #1c62cd;
  text-align: center;
}

.product__more {
  text-align: center;
}

.product__more-link {
  display: inline-block;
  margin-top: 35px;
  padding: 17px 43px;

  background: #f0f0f4;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.addinting__title {
  margin-bottom: 20px;
}

.additings__tabs {
  margin-bottom: 35px;
}

.addinting__content {
  display: none;
}

.addinting__content.tabs-content--active {
  display: block;
}

.additings__tab {
  padding-bottom: 10px;
}

.additings__tab + .additings__tab {
  margin-left: 50px;
}

.additings__tab.tabs__item--active {
  border-bottom: 2px solid #1c62cd;
}

.additings__content {
  display: none;
}

.additings__content.tabs-content--active {
  display: block;
}

.footer {
  background: #f0f0f4;
  padding: 42px 0 22px;
}

.footer__top {
  margin-bottom: 46px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top-item:last-child {
  margin-right: 76px;
}

.footer__top-newsletter {
  width: 295px;
}

.footer__top-title {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.form-title {
  margin-bottom: 34px;
}

.footer__form {
  display: flex;
  justify-content: space-between;
}

.footer__form-input {
  width: 200px;
  padding: 8px 12px;
  background: #ffffff;
  border: none;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__form-input::placeholder {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.footer__form-btn {
  padding: 10px 16px;
  background: #1c62cd;
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
}

.footer__top-item--middle {
  max-width: 200px;
}
.footer-info {
}

.footer-info li {
  margin-bottom: 3px;
}

.footer-info__link {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.footer-info-right {
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list li + li {
  margin-left: 30px;
}

.social__link {
}

.social__link + .social__link {
}

.footer__bottom {
  text-align: center;
}

.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;
  color: #48494d;
}

.footer__bottom-link + .footer__bottom-link {
  margin-left: 80px;
}
